@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
</div>

<div class="mb-5 sombra">

    <h3 class="text-light">  Un estudinate realiza cuatro examanes durante el semestre,los cuales tineen la misma ponderacion. 
        Realice un algoritmo para obtener el promedio de las calificaciones obtenidas 
    </h3>
        
</div>
