@
<form asp-controlller="Home" asp-action="Reservar_Compras">
    <div class="mb-3">
        <label for="Nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="Nombre" name="Nombre"
               placeholder="Escriba su nombre" />
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Correo</label>
        <input type="email" class="form-control" id="email" name="email"
               placeholder="Escriba su correo" />
    </div>
    <div class="mb-3">
        <label for="mensaje" class="form-label">Mensaje</label>
        <textarea class="form-control" id="Mensaje" name="Mensaje" row="3"
                  placeholder="Escriba su mensaje"> </textarea>
    </div>
    <button type="submit" class="btn btn-primary">Enviar </button>
    <button type="submit" class="btn btn-danger">Enviar-2 </button>
    <button type="submit" class="btn btn-info">Enviar-3 </button>
    <button type="submit" class="btn btn-success">Enviar-4 </button>
</form> 
